<div>
  <p><strong>Nama:</strong> <%= @patient.name %></p>
  <p><strong>HP:</strong> <%= @patient.phone %></p>
  <p><strong>Usia:</strong> <%= @patient.age %></p>
  <p><strong>Alamat:</strong> <%= @patient.address %></p>
  <p><strong>Keluhan Awal:</strong> <%= @patient.keluhan %></p>
</div>